@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}

body {
    background-color: white;
    color: black;
}

.dark body {
background-color: black;
color: white;
}

.bg-primary-color {
    @apply bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}

[data-theme="dark"] {
    --body_background: #282c34;
    --body_color:white;
    --link_color: cyan;
}

.App-header{
    background-color: var(--body_background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--body_color);
  }
  
  .App-link {
    color: var(--link_color);
  }

  .a {
    color: #cd5c5c;
  }